body{
    background-color: black;
}
.loader {
    border-top-color: #e2e2e2;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
